.back {
  background: #f8f8f8;
  border: 3px solid #f0f0f0;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  padding: 75px 5px;
  outline: none;
  cursor: pointer;
}

.back:hover {
  border: 3px dashed deepskyblue;
}
